.img1 {
  background-image: url("../../images/Johannes-Plenio.jpg");
}

.img2 {
  background-image: url("../../images/Simon-Matzinger.jpg");
}

.img3 {
  background-image: url("../../images/Yousef-Espanioly.jpg");
}